<!--The content below is only a placeholder and can be replaced.-->

<menu></menu>
<router-outlet></router-outlet>

<!-- <div class="row">
    <div class="btn btn-primary m-r-1" (click)="doGET()">GET</div>
    <div class="btn btn-primary m-r-1" (click)="doPOST()">POST</div>
    <div class="btn btn-primary m-r-1" (click)="doPUT()">PUT</div>
    <div class="btn btn-primary m-r-1" (click)="doDELETE()">DELETE</div>
</div>

<div class="row">
    <div class="btn btn-secondary m-r-1" (click)="doGETAsPromise()">As Promise</div>
    <div class="btn btn-secondary m-r-1" (click)="doGETAsPromiseError()">Error as Promise</div>
    <div class="btn btn-secondary m-r-1" (click)="doGETAsObservableError()">Error as Observable</div>
</div>

<div class="row">
    <button class="btn btn-danger" (click)="doGETWithHeaders()">With Headers</button>
</div> -->

